azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "integrationAccountName": {
      "type": "string",
      "defaultValue": "IntegrationAccount",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Integration Account."
      }
    },
    "logicAppName": {
      "type": "string",
      "defaultValue": "VETERPipeline",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "australiaeast",
        "australiasoutheast",
        "brazilsouth",
        "centralus",
        "eastasia",
        "eastus",
        "eastus2",
        "japaneast",
        "japanwest",
        "northcentralus",
        "northeurope",
        "southcentralus",
        "southeastasia",
        "westeurope",
        "westus"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "serviceBusName": {
      "type": "string",
      "defaultValue": "VETERBus",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Service Bus."
      }
    }
  },
  "variables": {
    "connectionServiceBusName": "servicebus",
    "connectionServiceBusId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', variables('connectionServiceBusName'))]",
    "serviceBusAccessKeyName": "RootManageSharedAccessKey"
  },
  "resources": [{
      "type": "Microsoft.ServiceBus/namespaces",
      "sku": {
        "name": "Basic",
        "tier": "Basic"
      },
      "name": "[parameters('serviceBusName')]",
      "apiVersion": "2017-04-01",
      "location": "[parameters('logicAppLocation')]",
      "scale": null,
      "properties": {}
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/queues",
      "name": "[concat(parameters('serviceBusName'), '/invalidorders')]",
      "apiVersion": "2017-04-01",
      "location": "[parameters('logicAppLocation')]",
      "scale": null,
      "properties": {
        "lockDuration": "PT30S",
        "maxSizeInMegabytes": 16384,
        "requiresDuplicateDetection": false,
        "requiresSession": false,
        "defaultMessageTimeToLive": "P7D",
        "deadLetteringOnMessageExpiration": false,
        "enableBatchedOperations": true,
        "duplicateDetectionHistoryTimeWindow": "PT10M",
        "maxDeliveryCount": 10,
        "status": "Active",
        "enablePartitioning": true,
        "enableExpress": false
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces', parameters('serviceBusName'))]"
      ]
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/queues",
      "name": "[concat(parameters('serviceBusName'), '/saporders')]",
      "apiVersion": "2017-04-01",
      "location": "[parameters('logicAppLocation')]",
      "scale": null,
      "properties": {
        "lockDuration": "PT30S",
        "maxSizeInMegabytes": 16384,
        "requiresDuplicateDetection": false,
        "requiresSession": false,
        "defaultMessageTimeToLive": "P7D",
        "deadLetteringOnMessageExpiration": false,
        "enableBatchedOperations": true,
        "duplicateDetectionHistoryTimeWindow": "PT10M",
        "maxDeliveryCount": 10,
        "status": "Active",
        "enablePartitioning": true,
        "enableExpress": false
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces', parameters('serviceBusName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "name": "[variables('connectionServiceBusName')]",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "scale": null,
      "properties": {
        "displayName": "VETERBus",
        "customParameterValues": {},
        "api": {
          "id": "[variables('connectionServiceBusId')]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces', parameters('serviceBusName'))]"
      ]
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/AuthorizationRules",
      "name": "[concat(parameters('serviceBusName'), '/', variables('serviceBusAccessKeyName'))]",
      "apiVersion": "2017-04-01",
      "location": "[parameters('logicAppLocation')]",
      "scale": null,
      "properties": {
        "rights": [
          "Listen",
          "Manage",
          "Send"
        ]
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces', parameters('serviceBusName'))]"
      ]
    },
    {
      "properties": {},
      "sku": {
        "name": "Standard"
      },
      "name": "[parameters('integrationAccountName')]",
      "type": "Microsoft.Logic/integrationAccounts",
      "location": "[parameters('logicAppLocation')]",
      "apiVersion": "2016-06-01"
    },
    {
      "properties": {
        "schemaType": "xml",
        "content": "<?xml version=\"1.0\" encoding=\"utf-8\"?><xs:schema xmlns=\"http://Integration.Order\" xmlns:b=\"http://schemas.microsoft.com/BizTalk/2003\" targetNamespace=\"http://Integration.Order\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"><xs:element name=\"Order\"><xs:complexType><xs:sequence><xs:element name=\"Orderheader\"><xs:complexType><xs:sequence><xs:element name=\"OrderDate\" type=\"xs:string\" /><xs:element name=\"EstimatedDeliveryDate\" type=\"xs:string\" /><xs:element name=\"OrderNumber\" type=\"xs:string\" /></xs:sequence></xs:complexType></xs:element><xs:element name=\"CustomDetails\"><xs:complexType><xs:sequence><xs:element name=\"Name\" type=\"xs:string\" /><xs:element name=\"Address\" type=\"xs:string\" /></xs:sequence></xs:complexType></xs:element><xs:element name=\"OrderDetails\"><xs:complexType><xs:sequence><xs:element name=\"ItemDescription\" type=\"xs:string\" /><xs:element name=\"ItemCustomerCode\" type=\"xs:string\" /><xs:element name=\"TotalAmount\" type=\"xs:string\" /><xs:element name=\"UnitType\" type=\"xs:string\" /></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>",
        "contentType": "application/xml"
      },
      "name": "[concat(parameters('integrationAccountName'), '/', 'Order')]",
      "type": "Microsoft.Logic/integrationAccounts/schemas",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('integrationAccountName')]"
      ]
    },
    {
      "properties": {
        "mapType": "xslt",
        "content": "<?xml version=\"1.0\" encoding=\"utf-8\"?><xsl:stylesheet xmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\" xmlns:msxsl=\"urn:schemas-microsoft-com:xslt\" xmlns:var=\"http://schemas.microsoft.com/BizTalk/2003/var\" exclude-result-prefixes=\"msxsl var s0 userCSharp\" version=\"1.0\" xmlns:ns0=\"http://Integration.SAPOrder\" xmlns:s0=\"http://Integration.Order\" xmlns:userCSharp=\"http://schemas.microsoft.com/BizTalk/2003/userCSharp\"><xsl:import href=\"https://az818438.vo.msecnd.net/functoids/functoidsscript.xslt\" /><xsl:output omit-xml-declaration=\"yes\" method=\"xml\" version=\"1.0\" /><xsl:template match=\"/\"><xsl:apply-templates select=\"/s0:Order\" /></xsl:template><xsl:template match=\"/s0:Order\"><xsl:variable name=\"var:v1\" select=\"userCSharp:DateCurrentDateTime()\" /><ns0:SAPOrder><OrderId><xsl:value-of select=\"Orderheader/OrderNumber/text()\" /></OrderId><ClientId><xsl:text>1</xsl:text></ClientId><Dates><ProcessDate><xsl:value-of select=\"$var:v1\" /></ProcessDate><OrderDate><xsl:value-of select=\"Orderheader/OrderDate/text()\" /></OrderDate><EstimatedDeliveryDate><xsl:value-of select=\"Orderheader/EstimatedDeliveryDate/text()\" /></EstimatedDeliveryDate></Dates><Details><ItemId><xsl:value-of select=\"OrderDetails/ItemCustomerCode/text()\" /></ItemId><Units><xsl:value-of select=\"OrderDetails/TotalAmount/text()\" /></Units><UnitType><xsl:value-of select=\"OrderDetails/UnitType/text()\" /></UnitType></Details></ns0:SAPOrder></xsl:template></xsl:stylesheet>",
        "contentType": "application/xml"
      },
      "name": "[concat(parameters('integrationAccountName'), '/SAPOrderMap')]",
      "type": "Microsoft.Logic/integrationAccounts/maps",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('integrationAccountName')]"
      ]
    },
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "actions": {
            "Condition": {
              "actions": {
                "Response": {
                  "runAfter": {},
                  "type": "Response",
                  "inputs": {
                    "body": "@body('Transform_XML')",
                    "statusCode": 200
                  }
                },
                "Send_valid_SAP_Order_to_queue": {
                  "runAfter": {
                    "Response": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "ContentData": "@{base64(body('Transform_XML'))}",
                      "ContentType": "application/xml"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent(encodeURIComponent('saporders'))}/messages",
                    "queries": {
                      "systemProperties": "None"
                    }
                  }
                }
              },
              "runAfter": {
                "Transform_XML": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Response_2": {
                    "runAfter": {},
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "body": "Invalid Request",
                      "statusCode": 400
                    }
                  },
                  "Send_invalid_SAP_Order_to_queue": {
                    "runAfter": {
                      "Response_2": [
                        "Succeeded"
                      ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "ContentData": "@{base64(triggerBody())}"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/@{encodeURIComponent(encodeURIComponent('invalidorders'))}/messages",
                      "queries": {
                        "systemProperties": "None"
                      }
                    }
                  }
                }
              },
              "expression": "@equals(xpath(xml(body('Transform_XML')), 'string(count(/.))'), '1')",
              "type": "If"
            },
            "Send_invalid_XML_to_queue": {
              "runAfter": {
                "When_XML_Validation_Fails": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "ContentData": "@{base64(triggerBody())}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent(encodeURIComponent('invalidorders'))}/messages",
                "queries": {
                  "systemProperties": "None"
                }
              }
            },
            "Transform_XML": {
              "runAfter": {
                "XML_Validation": [
                  "Succeeded"
                ]
              },
              "type": "Xslt",
              "inputs": {
                "content": "@{triggerBody()}",
                "integrationAccount": {
                  "map": {
                    "name": "SAPOrderMap"
                  }
                }
              }
            },
            "When_Transform_XML_Fails": {
              "runAfter": {
                "Transform_XML": [
                  "Failed"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "body": "Unable to map Integration Order to SAP Order",
                "statusCode": 500
              }
            },
            "When_XML_Validation_Fails": {
              "runAfter": {
                "XML_Validation": [
                  "Failed"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "body": "XML Validation Failed",
                "statusCode": 400
              }
            },
            "XML_Validation": {
              "runAfter": {},
              "type": "XmlValidation",
              "inputs": {
                "content": "@{triggerBody()}",
                "integrationAccount": {
                  "schema": {
                    "name": "Order"
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connectionServiceBusName'))]",
                "connectionName": "servicebus",
                "id": "[variables('connectionServiceBusId')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccountName'))]",
        "[resourceId('Microsoft.Web/connections', variables('connectionServiceBusName'))]"
      ]
    }
  ],
  "outputs": {}
}
